*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    min-height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.container{
    box-shadow: 0 0 4px 1px rgb(179,169,169);
    width: 400px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container p{
    color: rgb(20,94,82);
    margin: 10px;
    font-size: 20px;
    font-weight: bolder;
}
.date-container label{
font-size: larger;
margin-right: 10px;
}
#birthDate,#currentDate{
    width: 140px;
    height: 40px;
    border: none;
    box-shadow: 0 0 2px 1px rgb(210,197,197);
    border-radius: 10px;
    margin-top: 10px;
    padding: 4px;
    color: rgb(149,79,79);
    font-size: larger;
}
#calculateBtn{
    width: 100px;
    height: 50px;
    margin-top: 20px;
    font-size: larger;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 1px 3px 3px rgb(56,84,56);
    cursor: pointer;
    transition: 0.3s;
}
#calculateBtn:active{
    box-shadow: 0 0 0 0;
}